* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.didascalia .price-discount {
    color: red;
    font-size: 20px;
}

.original-price {
    text-decoration: line-through;
    font-size: 20px;
}