* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 50px auto;
}
.card {
    display: inline-block;
    width: 33%;
    padding: 10px;
}

.card .card-image img {
    width: 100%;
}

.card-image {
    position: relative;
    margin-bottom: 15px;
}

.cuoricino {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #fff;
    padding: 5px 8px;
    font-size: 30px;
}

.card-promo {
    position: absolute;
    left: 0;
    bottom: 30px;
}

.carta-sconto {
    background-color: red;
    color: white;
    padding: 5px 5px;
}

.tag {
    background-color: green;
    color: white;
    padding: 5px 5px;
}

.didascalia .marca {
    font-size: 18px;
}

.didascalia .nome-prodotto {
    font-size: 16px;
}

.didascalia .price-discount {
    color: red;
    font-size: 20px;
}

.didascalia .original-price {
    text-decoration: line-through;
    font-size: 20px;
}

.card-image .prima-foto {
    display: block;
}

.card-image .seconda-foto {
    display: none;
}

.card-image:hover .prima-foto {
    display: none;
}

.card-image:hover .seconda-foto {
    display: block;
}

