body {
    background-color: lightgray;
}

.container {
    background-color: white;
    width: 80%;
    margin: 50% auto;
    position: relative;
}

.foto {
}

.foto2 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.product:hover .foto2 {
    display: block;
}